{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load material_form %}
{% load staticfiles %}



{% block content %}
    <form role="form" method="post" id="register-form" action="{% url 'register' %}">

        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message">

            </div>
        </div>

        <legend>Create a new account</legend>
        <form method="POST">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" name="_submit" class="btn">Submit</button>
        </form>


    </form>
{% endblock %}