{% extends "base.html" %}
{% load threads_extras %}
{% block content %}
    {% load bootstrap_tags %}

    {% for subject in subjects %}
        <section class="subject">
            <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
            <p>
                <a href="{% url 'threads' subject.id %}">
                    {% autoescape off %}
                        {{ subject.description }}
                    {% endautoescape %}
                </a>
            </p>

       <br>
        <table>
            <tr>
                <th><a href="{% url 'threads' subject.id %}"> Popular threads</th>
                <th>Recent Posts</th>
            </tr>
            <br>
            <tr>
                <td>{{ subject.threads.count }}</td>
                <td>{{ subject.threads_post.count }}</td>
            </tr>
        </table>
        </section>
    {% endfor %}
{% endblock %}